<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="Async" class="org.apache.log4j.AsyncAppender">
        <param name="Blocking" value="true"/>
        <appender-ref ref="File"/>
    </appender>

    <!-- console -->
    <!--<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">-->
        <!--<param name="threshold" value="INFO"/>-->
        <!--<layout class="org.apache.log4j.PatternLayout">-->
            <!--&lt;!&ndash; The log message pattern &ndash;&gt;-->
            <!--<param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] (%c.java:%L).%M - %m%n"/>-->
        <!--</layout>-->
    <!--</appender>-->

    <appender name="File" class="org.apache.log4j.rolling.RollingFileAppender">
        <!-- The active file to log to -->
        <param name="threshold" value="DEBUG"/>
        <param name="file" value="/var/local/moneypenny/crawler.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>

        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="/var/local/crawler/crawler.%d.log.gz"/>
        </rollingPolicy>

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The log message pattern -->
            <param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] (%c.java:%L).%M - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="info"/>
        <appender-ref ref="File"/>
        <!--<appender-ref ref="STDOUT"/>-->
    </root>
</log4j:configuration>